.aboutMain{
    background-color: black;
    margin: 2rem 0 2rem 0;
    margin: 0rem 0 2rem 0;
    padding-top: 10rem;
    overflow: hidden;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 21, 21);
    color: white;
    width: 90%;
    margin: auto;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.inner {
    display: flex;
    /* background-color: red; */
    /* padding: 2rem; */
    margin-top: 1rem;
}

.leftSide {
    width: 50%;
    /* background-color: aqua; */
    justify-content: center;
}

.leftSide>img {
    /* width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem; */

    width: 15rem;
    margin-top: 3rem;
    float: right;
    margin: 1rem 10rem 0 0;
}

.rightSide {
    width: 50%;
    /* background-color: blueviolet; */
    margin-bottom: 1.5rem;
}

.rightSide > h2{
    text-align: center;
    margin-top: 7rem;
    margin-right: 5rem;
}

.rightSide > .intro{
    width: 90%;
    margin: auto;
    text-align: center;
    /* margin-right: 5rem; */
}


@media (max-width:920px) {
    .leftSide{
        display: none;
    }   
    .rightSide{
        width: 100%;
    }
    .rightSide > h2{
        margin-top: 1rem;
    }
    .rightSide > h2{
        margin-right: 0
    }

}